@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #1a0b2e;
  --secondary-color: #412567;
  --white: #ffffff;
  --green: #00ff88;
  --choose-background: #230e3d;
  --gradient: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* share style */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.display-flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.btn-gradient {
  padding: 12px 16px;
  border-radius: 100px;
  /* height: 44px; */
  background: var(--gradient);
  color: var(--white);
  cursor: pointer;
  border: none;
  font-size: 1rem;
  text-align: center;
}
/* Navbar related styles */
/* .navbar {
  position: sticky;
} */
.logo {
  color: var(--white);
  /* margin-right: 200px; */
  font-weight: 700;
  font-size: 2.5rem;
}

.header {
  background-color: var(--primary-color);
}
.logo-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  list-style: none;
  gap: 32px;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}
/* Hero section styles */
.hero-section {
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* same as flex and grid items */
/* .hero-content {
  display: grid;
  place-items: center;
  text-align: center;
} */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 101px 0;
}
.hero-image {
  position: relative;
}
.hero-image .b-mic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-image .new-badge {
  position: absolute;
  background-color: var(--green);
  top: 25px;
  right: 25px;
  padding: 8px 16px;
  border-radius: 996px;
  text-transform: uppercase;
}
.banner-heading {
  font-size: 3.5rem;
  color: var(--white);
  font-weight: 600;
  margin: 0 auto;
}
.banner-description {
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.btn-regular {
  border-radius: 30px;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid var(--green);
  background-color: var(--secondary);
  color: var(--green);
  align-items: center;
}

/* About section Style */
.about {
  background-color: var(--primary-color);
  padding: 50px 0 120px 0;
}

.about-content {
  height: 222px;

  background-color: var(--primary-color);
}
.about-devider {
  border: 1px dotted #d1baba7e;
  margin: 80px 0;
}

.about-heading {
  font-size: 3rem;
  color: var(--white);
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}
.about-description {
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  line-height: 20px;
}
.rating-container {
  max-width: 100%;
  background-color: var(--primary-color);
}
.rating-corner {
  margin: 0 auto;
  gap: 30px;
}
.rate-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--green);
}
.description {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}
/* why choose Section related styles */
.choose-section {
  background-color: var(--choose-background);
  padding: 100px 120px;
  color: var(--white);
}

.choose-main-heading {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}
.choose-image {
  width: 50px;
  height: 50px;
}
.heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}
.description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  line-height: 24px;
}

.choose-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.choose-box {
  border-radius: 40px;
  padding: 40px;
  background-color: #3511654f;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.choose-box .description {
  text-align: left;
}
.choose-box .heading {
  margin-bottom: -12px;
}
.choose-box-1 {
  grid-column: span 1;
  grid-row: span 2;
}
.choose-box-2 {
  grid-column: span 2;
  grid-row: span 1;
  max-height: 223px;
}
.choose-box-3 {
  grid-column: span 2;
  grid-row: span 1;
  max-height: 223px;
}
.choose-box-4 {
  grid-column: span 2;
  grid-row: span 1;
}
.choose-box-5 {
  grid-column: span 1;
  grid-row: span 1;
}
/* feature-section Related Styles */

.feature-section {
  background-color: var(--primary-color);
  padding: 120px 200px;
}
/* .feature-content {
  padding: 120px 200px;
} */
.feature-heading1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-bottom: 40px;
}
/* .feature-items {

} */
.f-items-design {
  height: 440px;

  justify-content: center;
  gap: 30px;
  align-items: center;
}
.f-item-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}
.f-item-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  line-height: 24px;
}
.item-1 iframe {
  border-radius: 0px 15px;
}
.time {
  color: var(--green);
}
.h-item-heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}
.host-image {
  margin-right: 24px;
}

/* .host-links {
  justify-items: center;
} */
.host-items {
  height: 40px;
  width: 40px;
  /* border: 1px solid red; */
  border-radius: 25px;
  background-color: var(--primary-color);
  padding: 5px;
}
/* Techwave section related styles */
.techwave-section {
  background-image: url("../assets/footer-bg.png");
}

.tech-heading {
  font-size: 3rem;
  font-weight: 700px;
  color: var(--green);
  text-align: center;
}
.tech-items {
  justify-content: center;
  gap: 8px;
}
.tech-links img {
  background-color: aqua;
  height: 20px;
  width: 20px;
  /* gap: 8px; */
  align-items: center;
}
.tech-links p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}
.footer-section {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
/* Responsive design for smalldevice */
@media screen and (max-width: 576px) {
  .navlink {
    float: none;
    display: block;
  }
}
/* Responsive design for medium device */
@media screen and (max-width: 992px) {
  .choose-box {
    flex-direction: column;
  }
}
