@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #1a0b2e;
  --secondary-color: #412567;
  --white: #ffffff;
  --green: #00ff88;
  --gradient: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
}
/* share style */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.display-flex {
  display: flex;
  margin: 0 auto;
}
/* Navbar related styles */
/* .navbar {
mar
  
} */
.logo {
  color: var(--primary-color);
  margin-right: 200px;
  font-weight: 600;
  font-size: 2rem;
}
.logo-gradient {
  background-color: #ffffff;
  color: var(--gradient);
  font-weight: 600;
  font-size: 2rem;
}
.nav-links {
  list-style: none;
  gap: 32px;
  align-items: center;
}
/* Hero section styles */
.hero-section {
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* same as flex and grid items */
/* .hero-content {
  display: grid;
  place-items: center;
  text-align: center;
} */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 101px 0;
}
.hero-image {
  position: relative;
}
.hero-image .b-mic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-image .new-badge {
  position: absolute;
  background-color: var(--green);
  top: 25px;
  right: 25px;
  padding: 8px 16px;
  border-radius: 996px;
  text-transform: uppercase;
}
.banner-heading {
  font-size: 3.5rem;
  color: var(--white);
  font-weight: 600;
  margin: 0 auto;
}
.banner-description {
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}
.btn-gradient {
  padding: 30px 12px;
  border-radius: 10px;
  background-color: #ffffff;
  color: var(--gradient);
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.btn-regular {
  border-radius: 30px;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid var(--green);
  background-color: var(--secondary);
  color: var(--green);
  align-items: center;
}

/* About section Style */
.about {
  background-color: var(--primary-color);
}

.about-content {
  height: 222px;
  /* padding: 50px 200px 80px 200px; */

  background-color: var(--primary-color);
}

.about-heading {
  font-size: 3rem;
  color: var(--white);
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}
.about-description {
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  line-height: 20px;
}
.rating-container {
  max-width: 100%;
  background-color: var(--primary-color);
}
.rating-corner {
  margin: 0 auto;
  gap: 30px;
}
.rate-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--green);
}
.description {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}
/* why choose Section related styles */
.choose-section {
  background-color: var(--secondary-color);
  max-height: 1121px;
  padding: 100px 120px;
  color: var(--white);
}
.choose-main-heading {
  font-weight: 600px;
  font-size: 3rem;
  text-align: center;
}
.choose-image {
  width: 50px;
  height: 50px;
  margin: 40px 0 16px 40px;
  /* margin-bottom: 16px; */
}
.heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}
.description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  line-height: 24px;
}

/* .main-container {
  margin-top: 40px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
} */
.content {
  margin-top: 40px;
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.headphone {
  grid-column: span 1;
  grid-row: span 3;
  border: 1px solid coral;
  border-radius: 10px;
}
.device {
  grid-column: span 2;
  grid-row: span 2;
  border: 1px solid coral;
  border-radius: 10px;
}
.location {
  grid-column: span 2;
  grid-row: span 2;
  border: 1px solid coral;
  border-radius: 10px;
}
.zap {
  grid-column: span 2;
  grid-row: span 1;
  border: 1px solid coral;
  border-radius: 10px;
}
.book {
  grid-column: span 1;
  grid-row: span 1;
  border: 1px solid coral;
  border-radius: 10px;
}
/* feature-section Related Styles */

.feature-section {
  background-color: var(--primary-color);
}
.feature-heading1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}
.f-item-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  /* text-align: center; */
}
.f-item-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  line-height: 24px;
  /* text-align: center; */
}
.time {
  color: var(--green);
}
.h-item-heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}
.host-image {
  margin-right: 24px;
}

/* .host-links {
  justify-items: center;
} */
.host-items {
  height: 40px;
  width: 40px;
  /* border: 1px solid red; */
  border-radius: 25px;
  background-color: var(--primary-color);
  padding: 5px;
}
/* Techwave section related styles */
.techwave-section {
  background-image: url("../assets/footer-bg.png");
}

.tech-heading {
  font-size: 3rem;
  font-weight: 700px;
  color: var(--green);
  text-align: center;
}
.tech-items {
  justify-content: center;
  gap: 8px;
}
.tech-links img {
  background-color: aqua;
  height: 20px;
  width: 20px;
  /* gap: 8px; */
  align-items: center;
}
.tech-links p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}
.footer-section {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
